# OS files
.DS_Store
Thumbs.db
*~

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Node modules
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*

# Temporary files
.tmp/
temp/
